.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 0%, rgba(20, 20, 20, 0.7) 50%, rgba(0, 0, 0, 0.9) 100%);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 10px 10px 10px rgb(23, 24, 24);
  z-index: 100;
  height: 85px;
}
.header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}
.header .header-container .header-list {
  display: flex;
  align-items: center;
  gap: 45px;
}
.header .header-container .header-list .header-link {
  font-weight: 500px;
  font-size: 20px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8980392157);
}
.header .header-container .header-list .header-link:hover {
  color: #F4C430;
  cursor: pointer;
}
.header .header-container .selects {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header .header-container .selects .select {
  border: none;
  background: none;
  font-weight: 500px;
  font-size: 20px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8980392157);
}
.header .header-container .selects .select:hover {
  color: #F4C430;
  cursor: pointer;
}
.header .header-container .selects .select .option {
  color: black;
}
.header .header-container .selects .search {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.8980392157);
}
.header .header-container .selects .search:hover {
  color: #F4C430;
  cursor: pointer;
}
.header .header-container .selects .header-btn {
  padding: 16px 17px;
  border-radius: 100px;
  border: 1px solid #F4C430;
  color: rgba(255, 255, 255, 0.8980392157);
  font-weight: 500px;
  font-size: 16px;
  line-height: 100%;
  background: linear-gradient(251.96deg, #000000 -20.95%, #2F2F2F 110.78%);
}
.header .header-container .selects .header-btn:hover {
  transform: scale(1.1);
  border: 1px solid rgba(255, 255, 255, 0.8980392157);
  color: #F4C430;
  box-shadow: 0 8px 25px, rgba(0, 0, 0, 0.3);
}
.header .header-container .selects .bars {
  display: none;
}
.header .header-container .selects .bars .bar {
  width: 40px;
  height: 3px;
  background: rgba(255, 255, 255, 0.8980392157);
  margin: 3px;
}
.header .header-container .selects .bars:hover {
  transform: scale(0.9);
}

@media (max-width: 960px) {
  .header .header-container .header-list {
    gap: 10px;
  }
  .header .header-container .selects {
    gap: 10px;
  }
  .header .header-container .selects .header-btn {
    padding: 12px 8px;
  }
}
@media (max-width: 760px) {
  .header .header-container .header-list {
    display: none;
  }
  .header .header-container .selects {
    gap: 10px;
  }
  .header .header-container .selects .header-btn {
    padding: 12px 8px;
  }
}
@media (max-width: 508px) {
  .header .header-container .header-list {
    display: none;
  }
  .header .header-container .selects {
    gap: 10px;
  }
  .header .header-container .selects .select {
    display: none;
  }
  .header .header-container .selects .search {
    display: none;
  }
  .header .header-container .selects .header-btn {
    padding: 12px 4px;
    font-size: 12px;
    line-height: 15px;
  }
}
@media (max-width: 480px) {
  .header .header-container .selects .bars {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #0b0b0b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.hero {
  max-width: 100%;
  min-height: 980px;
  margin-top: 90px;
  background: url(../image/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
  position: relative;
}
.hero .hero-title {
  text-align: center;
  padding-top: 100px;
}
.hero .hero-title h1 {
  max-width: 734px;
  font-weight: 700px;
  font-size: 60px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 72px;
}
.hero .hero-title .hero-btn {
  display: inline-block;
  padding: 15px 45px;
  border: 1px solid #F4C430;
  background: linear-gradient(251.96deg, rgba(0, 0, 0, 0.8) -20.95%, rgba(47, 47, 47, 0.8) 110.78%);
  color: #fff;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.4s;
  animation: glow 3s infinite alternate;
}
@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(212, 175, 55, 0.2);
  }
  to {
    box-shadow: 0 0 20px rgba(212, 175, 55, 0.6);
  }
}
.hero .hero-title .hero-btn:hover {
  background: rgba(212, 175, 55, 0.1);
  box-shadow: 0 0 25px rgba(212, 175, 55, 0.8);
  transform: translateY(-2px);
}
.hero .hero-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 10;
  animation: bounce 2s infinite;
}
.hero .hero-arrow .arrow {
  color: #fff;
  font-size: 40px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}
@media (max-width: 860px) {
  .hero {
    min-height: 700px;
  }
}
@media (max-width: 660px) {
  .hero {
    min-height: 500px;
  }
  .hero .hero-title {
    padding-top: 60px;
  }
  .hero .hero-title h1 {
    font-size: 45px;
    line-height: 40px;
  }
}
@media (max-width: 660px) and (max-width: 520px) {
  .hero {
    min-height: 400px;
  }
  .hero .hero-title {
    padding-top: 50px;
  }
  .hero .hero-title h1 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
  }
  .hero .hero-title .hero-btn {
    padding: 12px 18px;
  }
  .hero .hero-arrow {
    bottom: 55px;
  }
  .hero .hero-arrow .arrow {
    font-size: 22px;
  }
}
.sectionOne .sectionOne-container {
  padding: 81px 0;
  position: relative;
  z-index: 2;
}
.sectionOne .sectionOne-container .sectionOne-title {
  margin-bottom: 50px;
}
.sectionOne .sectionOne-container .sectionOne-title h2 {
  font-weight: 600px;
  font-size: 40px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 13px;
}
.sectionOne .sectionOne-container .sectionOne-title p {
  max-width: 450px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
}
.sectionOne .sectionOne-container .sectionOne-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 50px;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-left {
  max-width: 100%;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-left .left-rasm {
  position: relative;
  z-index: 2;
  width: 80%;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-left .left-span .span-rasm {
  width: 70%;
  position: absolute;
  left: -9%;
  bottom: 95px;
  top: 52%;
  z-index: 1;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-right {
  max-width: 100%;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list {
  display: flex;
  align-items: end;
  flex-direction: column;
  gap: 25px;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list .One-items {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700px;
  font-size: 30px;
  line-height: 100%;
  color: #FFFFFF;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list .One-items .one-span {
  width: 40px;
  border: 2px solid #F4C430;
}
.sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list .One-item {
  font-weight: 500px;
  font-size: 25px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.6784313725);
}
.sectionOne .sectionOne-container .One-btns {
  width: 230px;
  margin: 0 auto;
  text-align: center;
}
.sectionOne .sectionOne-container .One-btns .One-btn {
  display: flex;
  align-items: center;
  gap: 15px;
  background: none;
  border: none;
  font-weight: 500px;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
}
.sectionOne .sectionOne-container .One-btns .One-btn .btn-span {
  display: inline-block;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  font-size: 28px;
  transform: rotate(45deg);
  background: linear-gradient(270deg, #B0AC9C -60.37%, #E9E9E9 150.12%);
}
.sectionOne .sectionOne-container .One-btns .One-btn .btn-span:hover {
  background: #d4af37;
  transform: rotate(180deg);
  cursor: pointer;
}
.sectionOne .sectionOne-container .One-btns .One-btn .btn-span .span-plus {
  transform: rotate(220deg);
}

@media (max-width: 660px) {
  .sectionOne .sectionOne-container .sectionOne-title {
    text-align: center;
    margin-bottom: 30px;
  }
  .sectionOne .sectionOne-container .sectionOne-title p {
    max-width: 100%;
    text-align: center;
  }
  .sectionOne .sectionOne-container .sectionOne-cards {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 100%;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-left {
    text-align: center;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-left .left-rasm {
    width: 70%;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-left .left-span .span-rasm {
    width: 100%;
    left: 8%;
    top: 65%;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-right {
    max-width: 100%;
    text-align: center;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 560px) {
  .sectionOne .sectionOne-container {
    padding: 30px 0;
  }
  .sectionOne .sectionOne-container .sectionOne-title {
    text-align: center;
    margin-bottom: 25px;
  }
  .sectionOne .sectionOne-container .sectionOne-title h2 {
    font-size: 30px;
    line-height: 33px;
  }
  .sectionOne .sectionOne-container .sectionOne-title p {
    max-width: 100%;
    text-align: center;
  }
  .sectionOne .sectionOne-container .sectionOne-cards {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 100%;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-left {
    text-align: center;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-left .left-rasm {
    width: 70%;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-left .left-span .span-rasm {
    width: 100%;
    left: 0%;
    top: 66%;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-right {
    max-width: 100%;
    text-align: center;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list .One-items {
    font-size: 20px;
  }
  .sectionOne .sectionOne-container .sectionOne-cards .One-right .One-list .One-item {
    font-size: 18px;
  }
  .sectionOne .sectionOne-container .One-btns .One-btn {
    gap: 10px;
    font-size: 16px;
  }
  .sectionOne .sectionOne-container .One-btns .One-btn .btn-span {
    width: 32px;
    height: 32px;
  }
}
.sectionThree .Three-wrapper {
  padding: 60px 0;
}
.sectionThree .Three-wrapper .three-title {
  max-width: 587px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.sectionThree .Three-wrapper .three-title h2 {
  font-weight: 600px;
  font-size: 50px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8705882353);
  margin-bottom: 20px;
}
.sectionThree .Three-wrapper .three-title p {
  max-width: 587px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}
.sectionThree .Three-wrapper .three-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: stretch;
}
.sectionThree .Three-wrapper .three-list .three-item {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
}
.sectionThree .Three-wrapper .three-list .three-item:hover {
  transform: scale(0.8);
}
.sectionThree .Three-wrapper .three-list .three-item:first-child {
  border-left: none !important;
}
.sectionThree .Three-wrapper .three-list .three-item .icons {
  width: 80px;
  height: 80px;
  backdrop-filter: blur(20px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: rgba(109, 109, 109, 0.3019607843);
  color: #FFFFFF;
  font-size: 18px;
  transform: scale(1.1);
}
.sectionThree .Three-wrapper .three-list .three-item p {
  font-weight: 500px;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 60px;
}
.sectionThree .Three-wrapper .three-list .three-item a {
  color: #4372FF;
  font-weight: 400px;
  font-size: 17px;
  line-height: 100%;
  text-decoration: underline;
}

@media (max-width: 860px) {
  .sectionThree .Three-wrapper .three-title {
    max-width: 100%;
  }
  .sectionThree .Three-wrapper .three-title h2 {
    font-size: 40px;
  }
  .sectionThree .Three-wrapper .three-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 760px) {
  .sectionThree .Three-wrapper .three-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}
@media (max-width: 460px) {
  .sectionThree .Three-wrapper {
    padding: 30px 0;
  }
  .sectionThree .Three-wrapper .three-title {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .sectionThree .Three-wrapper .three-title h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .sectionThree .Three-wrapper .three-title p {
    font-size: 15px;
    line-height: 19px;
  }
  .sectionThree .Three-wrapper .three-list {
    grid-template-columns: 1fr;
  }
}
.sectionTwo .sectionTwo-wrapper {
  padding: 60px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 20px;
}
.sectionTwo .sectionTwo-wrapper .two-list {
  max-width: 100%;
  display: flex;
  align-items: start;
  gap: 30px;
  flex-direction: column;
}
.sectionTwo .sectionTwo-wrapper .two-list .two-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sectionTwo .sectionTwo-wrapper .two-list .two-item img {
  width: 50%;
}
.sectionTwo .sectionTwo-wrapper .two-list .two-item .two-span {
  font-weight: 500px;
  font-size: 25px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 960px) {
  .sectionTwo .sectionTwo-wrapper {
    padding: 40px 0;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .sectionTwo .sectionTwo-wrapper .two-list {
    gap: 20px;
  }
  .sectionTwo .sectionTwo-wrapper .two-list .two-item {
    gap: 5px;
  }
}
@media (max-width: 760px) {
  .sectionTwo .sectionTwo-wrapper {
    padding: 40px 0;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
  }
  .sectionTwo .sectionTwo-wrapper .two-list {
    gap: 20px;
    text-align: center;
  }
}
@media (max-width: 680px) {
  .sectionTwo .sectionTwo-wrapper {
    padding: 40px 0;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .sectionTwo .sectionTwo-wrapper .two-list {
    gap: 20px;
    text-align: center;
    align-items: center;
  }
  .sectionTwo .sectionTwo-wrapper .two-list .two-item img {
    width: 50%;
  }
  .sectionTwo .sectionTwo-wrapper .two-list .two-item .two-span {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .sectionTwo .sectionTwo-wrapper {
    padding: 40px 0;
    text-align: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
  .sectionTwo .sectionTwo-wrapper .two-list {
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
}
.sectionFour .sectionFour-wrapper {
  padding: 60px 0;
}
.sectionFour .sectionFour-wrapper .four-title {
  max-width: 587px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
}
.sectionFour .sectionFour-wrapper .four-title h2 {
  font-weight: 600px;
  font-size: 50px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8705882353);
  margin-bottom: 20px;
}
.sectionFour .sectionFour-wrapper .four-title p {
  max-width: 587px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}
.sectionFour .sectionFour-wrapper .four-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.sectionFour .sectionFour-wrapper .four-list .four-item {
  max-width: 100%;
  box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0);
  background: #262626;
}
.sectionFour .sectionFour-wrapper .four-list .four-item img {
  max-width: 100%;
}
.sectionFour .sectionFour-wrapper .four-list .four-item .four-texts {
  padding: 20px;
}
.sectionFour .sectionFour-wrapper .four-list .four-item .four-texts .four-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.sectionFour .sectionFour-wrapper .four-list .four-item .four-texts .four-text h3 {
  font-weight: 600px;
  font-size: 23px;
  line-height: 27px;
  color: #FFFFFF;
}
.sectionFour .sectionFour-wrapper .four-list .four-item .four-texts .four-text h4 {
  font-weight: 400px;
  font-size: 15px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.6784313725);
}
.sectionFour .sectionFour-wrapper .four-list .four-item .four-texts p {
  font-weight: 500px;
  font-size: 13px;
  line-height: 23px;
  color: rgba(255, 255, 255, 0.8);
}
.sectionFour .sectionFour-wrapper .four-list .four-item:hover {
  transform: scale(0.9);
}

@media (max-width: 760px) {
  .sectionFour .sectionFour-wrapper .four-title {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .sectionFour .sectionFour-wrapper .four-title h2 {
    font-size: 30px;
  }
  .sectionFour .sectionFour-wrapper {
    padding: 40px 0;
  }
  .sectionFour .sectionFour-wrapper .four-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 460px) {
  .sectionFour .sectionFour-wrapper .four-title {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .sectionFour .sectionFour-wrapper .four-title h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .sectionFour .sectionFour-wrapper {
    padding: 40px 0;
  }
  .sectionFour .sectionFour-wrapper .four-list {
    grid-template-columns: 1fr;
  }
}
.sectioFive .sectionFive-wrapper {
  margin-bottom: 50px;
  padding: 40px 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.sectioFive .sectionFive-wrapper .five-left h2 {
  max-width: 492px;
  font-weight: 600px;
  font-size: 40px;
  line-height: 100%;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.sectioFive .sectionFive-wrapper .five-left p {
  max-width: 492px;
  font-weight: 500px;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 58px;
}
.sectioFive .sectionFive-wrapper .five-left .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sectioFive .sectionFive-wrapper .five-left .form input, .sectioFive .sectionFive-wrapper .five-left .form textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #555;
  padding: 10px 0;
  color: #fff;
  outline: none;
}
.sectioFive .sectionFive-wrapper .five-left .form input:focus, .sectioFive .sectionFive-wrapper .five-left .form textarea:focus {
  border-bottom-color: #f1c40f;
}
.sectioFive .sectionFive-wrapper .five-left .form .btn-submit {
  width: 100%;
  padding: 12px 40px;
  border-radius: 100px;
  border: 1px solid #f1c40f;
  background: linear-gradient(251.96deg, #000000 -20.95%, #2F2F2F 110.78%);
  color: #fff;
  margin-top: 40px;
  cursor: pointer;
  transition: 0.3s;
}
.sectioFive .sectionFive-wrapper .five-left .form .btn-submit:hover {
  background: #f1c40f;
  color: #000;
}
.sectioFive .sectionFive-wrapper .five-right {
  transform: translate(0, 30px);
  max-width: 400px;
  min-height: 400px;
  background: linear-gradient(251.96deg, #000000 -20.95%, #2F2F2F 110.78%);
  padding: 20px;
  border: 1px solid gray;
  gap: 30px;
  position: relative;
}
.sectioFive .sectionFive-wrapper .five-right .card {
  width: 47px;
  height: 47px;
  background: linear-gradient(270deg, #B0AC9C -60.37%, #E9E9E9 150.12%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.3019607843);
  position: relative;
  left: -16%;
  top: -10%;
}
.sectioFive .sectionFive-wrapper .five-right .five-list {
  margin-top: -30px;
  display: flex;
  align-items: start;
  flex-direction: column;
}
.sectioFive .sectionFive-wrapper .five-right .five-list .five-item {
  color: #FFFFFF;
  display: flex;
  align-items: start;
  gap: 30px;
}
.sectioFive .sectionFive-wrapper .five-right .five-list .five-item i {
  color: #E9E9E9;
  font-size: 26px;
}
.sectioFive .sectionFive-wrapper .five-right .five-list .five-item .right-text {
  display: flex;
  align-items: start;
  flex-direction: column;
  margin-bottom: 30px;
}
.sectioFive .sectionFive-wrapper .five-right .five-list .five-item .right-text h3 {
  font-weight: 600px;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 5px;
}
.sectioFive .sectionFive-wrapper .five-right .five-list .five-item .right-text p {
  font-weight: 500px;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.8);
}
.sectioFive .sectionFive-wrapper .five-right .five-icons {
  width: 180px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  bottom: 10%;
}
.sectioFive .sectionFive-wrapper .five-right .five-icons i {
  color: #fff;
  font-size: 20px;
}

.sectionSix .container .sectionSix-map {
  width: 100%;
  line-height: 0;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  margin-top: 40px;
}
.sectionSix .container .sectionSix-map iframe {
  width: 100%;
  height: 500px;
  border: 0;
  filter: grayscale(100%) invert(92%) contrast(83%);
  transition: filter 0.3s ease;
}
.sectionSix .container .sectionSix-map iframe:hover {
  filter: grayscale(0%) invert(0%) contrast(100%);
}

@media (max-width: 1024px) {
  .sectionSix .container .sectionSix-map iframe {
    height: 400px;
  }
}
@media (max-width: 768px) {
  .sectionSix .container .sectionSix-map {
    margin-top: 20px;
    border-radius: 0;
  }
  .sectionSix .container .sectionSix-map iframe {
    height: 350px;
  }
}
@media (max-width: 480px) {
  .sectionSix .container .sectionSix-map iframe {
    height: 300px;
  }
}
footer {
  background: #000;
  padding: 60px 0;
}
footer .container .f-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
footer .container .f-footer img {
  width: 200px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
footer .container .f-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 50px;
  flex-wrap: wrap;
}
footer .container .f-footer ul a {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: white;
  opacity: 0.5;
  transition: all 0.3s ease;
}
footer .container .f-footer ul a:hover {
  opacity: 1;
  color: rgb(244, 196, 48);
}

/* ==================== MEDIA QUERIES ==================== */
@media (max-width: 1024px) {
  footer .container .f-footer ul {
    gap: 35px;
  }
  footer .container .f-footer ul a {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  footer .container .f-footer {
    gap: 30px;
  }
  footer .container .f-footer img {
    width: 150px;
  }
  footer .container .f-footer ul {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 40px 0;
  }
  footer .f-footer ul a {
    font-size: 16px;
  }
}/*# sourceMappingURL=main.css.map */