.header{
    background: rgba(0,  0,  0, 0.55);
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        .header-list{
            display: flex;
            align-items: center;
            gap: ;
        }
    }

}
