.header{
    background: #00000080;
    backdrop-filter: blur(50px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 0;
        .header-list{
            display: flex;
            align-items: center;
            gap: 45px;
            .header-link{
                font-weight: 500px;
                font-size: 20px;
                line-height: 100%;
                color: #FFFFFFE5;
                &:hover{
                    color: #F4C430;
                    cursor: pointer;
                }
            }
        }
        .selects{
            display: flex;
            align-items: center;
            gap: 40px;
            .select{
                border: none;
                background: none;
                font-weight: 500px;
                font-size: 20px;
                line-height: 100%;
                color: #FFFFFFE5;
                 &:hover{
                    color: #F4C430;
                    cursor: pointer;
                }
                .option{
                    color: black;
                }
            }
            .search{
                font-size: 19px;
                color: #FFFFFFE5;
                 &:hover{
                    color: #F4C430;
                    cursor: pointer;
                }
            }
            .header-btn{
                padding: 16px 17px;
                border-radius: 100px;
                border: 1px solid #F4C430;
                color: #FFFFFFE5;
                font-weight: 500px;
                font-size: 17px;
                line-height: 100%;
                background: linear-gradient(251.96deg, #000000 -20.95%, #2F2F2F 110.78%);
                &:hover{
                  transform: scale(1.1);
                   border: 1px solid #F4C430;
                   box-shadow: 0  8px  25px,  rgba(0, 0, 0, 0.3);
                  
                }

            }
            .bars{
                display: none;
               .bar{
                width: 40px;
                height: 3px;
                background: #FFFFFFE5;
                margin: 3px;
              
            }
              &:hover{
                    transform: scale(0.9);
                }
        }
        }
        
    }

}
