.sectionOne{
    background-color: #0b0b0b; 
    .sectionOne-container{
        padding: 81px 0;
        position: relative;
        z-index: 2;
        .sectionOne-title{
            margin-bottom: 50px;
            h2{
                font-weight: 600px;
                font-size: 40px;
                line-height: 100%;
                color: #FFFFFFCC;
                margin-bottom: 13px;
            }
            p{
                max-width:450px;
                font-weight: 500px;
                font-size: 16px;
                line-height: 23px;
                color: #FFFFFFCC;
        
            }
        }
        .sectionOne-cards{
           display: flex;
           align-items: center;
           justify-content: space-between;
            gap: 30px;
             margin-bottom: 50px;
            .One-left{
                max-width: 100%;
    
                .left-rasm{
                    width: 80%;
                }
                .left-span{
                   .span-rasm{
                     position: absolute;
                      left: 0;
                      bottom:-10px;
    
                      z-index: 1;
                   }  
                }
            }
            .One-right{
                max-width: 100%;
                .One-list{
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    gap: 25px;
                    .One-items{
                        display: flex;
                        align-items: center;
                        gap:10px ;
                        font-weight: 700px;
                         font-size: 30px;
                         line-height: 100%;
                         color: #FFFFFF; 
                       .one-span{
                        width: 40px;
                        border: 2px solid #F4C430;
                       }   
                    }
                    .One-item{
                         font-weight: 500px;
                         font-size: 25px;
                         line-height: 100%;
                         color: #FFFFFFAD; 
                    }

                }
            }
        }
        .One-btns{
            width: 210px;
            margin: 0 auto;
            text-align: center;
            .One-btn{
                display: flex; 
                align-items: center;
                gap: 10px;
                .btn-span{
                    width: 42.8px;
                    height: 42.8px;
                    transform: rotate(45deg);
                    background: linear-gradient(270deg, #B0AC9C -60.37%, #E9E9E9 150.12%);

                }

             }
           
        }
    }
}