.sectioFive{
    .sectionFive-wrapper{
        padding: 40px 0;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 20px;
        .five-left{
            h2{
                max-width: 492px;
                font-weight: 600px;
                font-size: 40px;
                line-height: 100%;
                color: #FFFFFF;
                margin-bottom: 20px;
            }
            p{
                max-width:492px;
                font-weight: 500px;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFFCC;
                margin-bottom: 58px;
        
            } 
            .form{
                display: flex;
               flex-direction: column;
               gap: 20px;
               input, textarea {
                       background: transparent;
                       border: none;
                       border-bottom: 1px solid #555; // Figma'dagi kabi pastki chiziq
                       padding: 10px 0;
                       color: #fff;
                       outline: none;
               
                       &:focus {
                         border-bottom-color: #f1c40f; // Fokus bo'lgandagi rang
                       }
                }  
                 .btn-submit {
                      width: fit-content;
                      padding: 12px 40px;
                      border: 1px solid #f1c40f;
                      background: transparent;
                      color: #fff;
                      cursor: pointer;
                      transition: 0.3s;
               
                      &:hover {
                        background: #f1c40f;
                        color: #000;
                      }
      }
    }
                    
        }
        }
        }