.sectionOne{
    background-color: #0b0b0b; 
    .section-container{
        padding: 81px 0;
        .sectionOne-title{
            margin-bottom: 30px;
            h2{
                font-weight: 600px;
                font-size: 40px;
                line-height: 100%;
                color: #FFFFFFCC;
                margin-bottom: 13px;
            }
            p{
                max-width:450px;
                font-weight: 500px;
                font-size: 16px;
                line-height: 23px;
                color: #FFFFFFCC;
        
            }
        }
        .sectionOne-cards{
            display: grid;
            grid-template-columns: repeat(2. 1fr);
            gap: 30px;
            .One-left{
                max-width: 100%;
                img{
                    width: 60%;
                }
            }
            .One-right{
                .One-list{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    gap: 25px;
                    .One-items{
                        display: flex;
                        align-items: center;
                        gap:10px ;
                        font-weight: 700px;
                         font-size: 30px;
                         line-height: 100%;
                         color: #FFFFFF; 
                       .one-span{
                        width: 40px;
                        border: 2px solid #F4C430;
                       }   
                    }
                    .One-item{
                         font-weight: 500px;
                         font-size: 25px;
                         line-height: 100%;
                         color: #FFFFFFAD; 
                    }

                }
            }
        }
    }
}