.sectionThree{
     background-color: #0b0b0b; 
    .Three-wrapper{
      padding: 60px 0;
      .three-title{
        max-width: 587px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
         h2{
                font-weight: 600px;
                font-size: 50px;
                line-height: 100%;
                color: #FFFFFFDE;
                margin-bottom: 20px;
            }
            p{
                max-width: 587px;
                font-weight: 500px;
                font-size: 16px;
                line-height: 27px;
                color: #FFFFFFCC;
        
            }
      }
    }
}