.sectionTwo{
    .sectionTwo-wrapper{
        padding: 60px 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: stretch;
        gap: 20px;
        .two-list{
            max-width: 100%;
            display: flex;
            align-items: start;
            gap: 30px;
            flex-direction: column;
            .two-item{
                display: flex;
                align-items: center;
                gap:15px ;
                .two-span{
                    font-weight: 500px;
                    font-size: 25px;
                    line-height: 100%;
                    color: #FFFFFFCC; 
                }
            }
        }
    }
}
 @media(max-width:960px){
  .sectionTwo{
    .sectionTwo-wrapper{
        padding: 40px 0;
         grid-template-columns: repeat(3, 1fr);
         gap: 30px;
        .two-list{
         gap: 20px;
         .two-item{
            gap: 5px;
         }
        }
    }
  }
 }
 @media(max-width:760px){
  .sectionTwo{
    .sectionTwo-wrapper{
        padding: 40px 0;
        text-align: center;
         grid-template-columns: repeat(3, 1fr);
        .two-list{
         gap: 20px;
          text-align: center;
          
        }
    }
  }
 }
 @media(max-width:680px){
  .sectionTwo{
    .sectionTwo-wrapper{
        padding: 40px 0;
        text-align: center;
         grid-template-columns: repeat(2, 1fr);
        .two-list{
         gap: 20px;
          text-align: center;
          
        }
    }
  }
 }
 @media(max-width:480px){
  .sectionTwo{
    .sectionTwo-wrapper{
        padding: 40px 0;
        text-align: center;
         grid-template-columns: 1fr;
        .two-list{
         gap: 20px;
          text-align: center;
          margin: 0 auto;
        }
    }
  }
 }
