.sectionThree{
     background-color: #0b0b0b; 
    .Three-wrapper{
      padding: 60px 0;
      .three-title{
        max-width: 587px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 80px;
         h2{
                font-weight: 600px;
                font-size: 50px;
                line-height: 100%;
                color: #FFFFFFDE;
                margin-bottom: 20px;
            }
            p{
                max-width: 587px;
                font-weight: 500px;
                font-size: 16px;
                line-height: 27px;
                color: #FFFFFFCC;
        
            }
      }
      .three-list{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        align-items: stretch;
        .three-item{
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px 10px;
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            text-align: center;
                &:first-child{
                border-left: none  !important;
            }
            .icons{
                width: 80px;
                height: 80px;
                backdrop-filter: blur(20px);
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                background: #6D6D6D4D;
                color: #FFFFFF;
                font-size: 18px;

            }
             p{
                
                font-weight: 500px;
                font-size: 18px;
                line-height: 30px;
                color: #FFFFFFCC;
                margin-bottom: 60px;
        
            }
             a{
                
                font-weight: 400px;
                font-size: 17px;
                line-height: 100%;
                text-decoration: underline;
              
        
            }
        }
      }
    }
}